SAFE_DESKTOP/src/META-INF/wsdl/localhost_8081/WS001/MedicoWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.safe.empresa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.safe.empresa.com/">

<xs:element name="listarMedico" type="tns:listarMedico" />

<xs:element name="listarMedicoResponse" type="tns:listarMedicoResponse" />

<xs:complexType name="listarMedico">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarMedicoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>